@charset "UTF-8";

/*===============================================
Body部分
===============================================*/

body {
  margin: 0;

}

#contents{
  width: 1280px;
  height: 720px;
  background: url(../img/layout/bg_natural_ocean.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#input_formDiv{
  width: 600px;
  padding-top: 250px;
  margin: 0 auto;
}

#leftContents{
  width: 640px;
  height: 720px;
  float: left;
}

#rightContents{
  width: 640px;
  height: 720px;
  float: left;
  position: relative;
}


/*===============================================
左側に配置しているCanvas設定
===============================================*/

#logo{
  width: 303px;
  height: 72px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 20px;
}

#logoImage{
  width: 303px;
  height: 72px;
}

#canvasAndCanvas{
  position: relative;
}

#canvasImage{
  width: 550px;
  height: 600px;
  position:absolute; top:20px; left:25px
}

#htmlCanvas{
  width: 450px;
  height: 340px;
  position:absolute; top:90px; left:75px
}

/*===============================================
右側に配置している黒板設定
===============================================*/

#blackBorad{
  width: 600px;
  height: 680px;
  position: absolute; top: 40px; left:0px;
}

#blackBorad_top input {
  width: 80px;
  height: 80px;
}

/*　黒板上部に配置しているButton設定　*/
#button1{
  position: absolute; top: 60px; left:50px;
}

#button2{
  position: absolute; top: 60px; left:150px;
}

#button3{
  position: absolute; top: 60px; left:250px;
}

#button4{
  position: absolute; top: 60px; left:350px;
}

#button5{
  position: absolute; top: 60px; left:450px;
}

/*　黒板上部に配置しているTab設定　*/
#blackBorad_tab input{
  width: 100px;
  height: 30px;
}

#tab1{
  position: absolute; top: 160px; left:50px;
}

#tab2{
  position: absolute; top: 160px; left:170px;
}

#tab3{
  position: absolute; top: 160px; left:290px;
}

#blackBord_center input{
  width: 80px;
  height: 80px;
}

/*　黒板真ん中に配置しているImg設定　*/
#img_1{
  position: absolute; top: 220px; left:50px;
}

#img_2{
  position: absolute; top: 220px; left:150px;
}

#img_3{
  position: absolute; top: 220px; left:250px;
}

#img_4{
  position: absolute; top: 220px; left:350px;
}

#img_5{
  position: absolute; top: 220px; left:450px;
}

#img_6{
  position: absolute; top: 320px; left:50px;
}

#img_7{
  position: absolute; top: 320px; left:150px;
}

#img_8{
  position: absolute; top: 320px; left:250px;
}

#img_9{
  position: absolute; top: 320px; left:350px;
}

#img_10{
  position: absolute; top: 320px; left:450px;
}

/*　黒板真ん中のサイドに配置しているSideBar設定　*/
#blackBord_side input {
  width: 50px;
  height: 50px;
}

#pageup{
  position: absolute; top: 180px; left:530px;
}

#pagedown{
  position: absolute; top: 380px; left:530px;
}

/*　黒板下部に配置している矢印Button設定　*/
#blackBoard_under input {
  width: 60px;
  height: 60px;
}

#arrow_lef{
  position: absolute; top: 450px; left:30px;
}

#arrow_up{
  position: absolute; top: 450px; left:100px;
}

#arrow_right{
  position: absolute; top: 450px; left:170px;
}

#arrow_down{
  position: absolute; top: 450px; left:240px;
}

#arrow_rotate{
  position: absolute; top: 450px; left:310px;
}

#arrow_flip{
  position: absolute; top: 450px; left:380px;
}

#scale_up{
  position: absolute; top: 450px; left:450px;
}

#scale_down{
  position: absolute; top: 450px; left:520px;
}

/*===============================================
下に配置しているメニュー操作設定
===============================================*/

#under_button input{
  width: 120px;
  height: 120px;
}

#undo{
  position: absolute; top: 600px; left:280px;
}

#return_top{
  position: absolute; top: 600px; left:400px;
}

#okBtn{
  position: absolute; top: 600px; left:520px;
}
