@charset "UTF-8";

/*===============================================
Body部分
===============================================*/

body {
  margin: 0;

}

#contents{
  width: 1280px;
  height: 720px;
  background: url(../img/layout/bg_natural_ocean.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position:static;
}


#logo{
  width: 303px;
  height: 72px;
  background: url(img/layout/bingatorLogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute; top: 30px; left:70px;
}

/*===============================================
左側に配置しているCanvas設定
===============================================*/
#canvas{
  width: 550px;
  height: 600px;
  position: absolute; top: 110px; left:40px;
}

#htmlCanvas{
  width: 450px;
  height: 340px;
  position: absolute; top: 180px; left:90px;
}

/*===============================================
右側に配置している黒板設定
===============================================*/

#blackBorad{
  width: 600px;
  height: 680px;
  position: absolute; top: 40px; left:640px;
}

#blackBorad_top input {
  width: 80px;
  height: 80px;
}

/*　黒板上部に配置しているButton設定　*/
#button1{
  position: absolute; top: 60px; left:690px;
}

#button2{
  position: absolute; top: 60px; left:790px;
}

#button3{
  position: absolute; top: 60px; left:890px;
}

#button4{
  position: absolute; top: 60px; left:990px;
}

#button5{
  position: absolute; top: 60px; left:1090px;
}

/*　黒板上部に配置しているTab設定　*/
#blackBorad_tab input{
  width: 100px;
  height: 30px;
}

#tab1{
  position: absolute; top: 160px; left:690px;
}

#tab2{
  position: absolute; top: 160px; left:810px;
}

#tab3{
  position: absolute; top: 160px; left:930px;
}

#blackBord_center input{
  width: 80px;
  height: 80px;
}

/*　黒板真ん中に配置しているImg設定　*/
#img_1{
  position: absolute; top: 220px; left:690px;
}

#img_2{
  position: absolute; top: 220px; left:790px;
}

#img_3{
  position: absolute; top: 220px; left:890px;
}

#img_4{
  position: absolute; top: 220px; left:990px;
}

#img_5{
  position: absolute; top: 220px; left:1090px;
}

#img_6{
  position: absolute; top: 320px; left:690px;
}

#img_7{
  position: absolute; top: 320px; left:790px;
}

#img_8{
  position: absolute; top: 320px; left:890px;
}

#img_9{
  position: absolute; top: 320px; left:990px;
}

#img_10{
  position: absolute; top: 320px; left:1090px;
}

/*　黒板真ん中のサイドに配置しているSideBar設定　*/
#blackBord_side input {
  width: 50px;
  height: 50px;
}

#pageup{
  position: absolute; top: 180px; left:1170px;
}

#pagedown{
  position: absolute; top: 380px; left:1170px;
}

/*　黒板下部に配置している矢印Button設定　*/
#blackBoard_under input {
  width: 60px;
  height: 60px;
}

#arrow_lef{
  position: absolute; top: 450px; left:670px;
}

#arrow_up{
  position: absolute; top: 450px; left:740px;
}

#arrow_right{
  position: absolute; top: 450px; left:810px;
}

#arrow_down{
  position: absolute; top: 450px; left:880px;
}

#arrow_rotate{
  position: absolute; top: 450px; left:950px;
}

#arrow_flip{
  position: absolute; top: 450px; left:1020px;
}

#scale_up{
  position: absolute; top: 450px; left:1090px;
}

#scale_down{
  position: absolute; top: 450px; left:1160px;
}

/*===============================================
下に配置しているメニュー操作設定
===============================================*/

#under_button input{
  width: 120px;
  height: 120px;
}

#undo{
  position: absolute; top: 600px; left:920px;
}

#return_top{
  position: absolute; top: 600px; left:1040px;
}

#okBtn{
  position: absolute; top: 600px; left:1160px;
}
