@charset "UTF-8";



body {
  margin: 0;

}

#contents{
  width: 1280px;
  height: 720px;
  background: url(img/layout/bg_natural_ocean.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position:static;
}


#logo{
  width: 303px;
  height: 72px;
  background: url(img/layout/bingatorLogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute; top: 30px; left:70px;
}


#canvas{
  width: 550px;
  height: 600px;
  position: absolute; top: 110px; left:40px;
}

#htmlCanvas{
  position: absolute; top: 180px; left:90px;
}

#blackBorad{
  width: 600px;
  height: 680px;
  position: absolute; top: 40px; left:640px;
}

#blackBorad_top input {
  width: 80px;
  height: 80px;
}

#button1{
  position: absolute; top: 60px; left:690px;
}

#button2{
  position: absolute; top: 60px; left:790px;
}

#button3{
  position: absolute; top: 60px; left:890px;
}

#button4{
  position: absolute; top: 60px; left:990px;
}

#button5{
  position: absolute; top: 60px; left:1090px;
}

#img_1{
  position: absolute; top: 200px; left:690px;
}

#img_2{
  position: absolute; top: 200px; left:790px;
}

#img_3{
  position: absolute; top: 200px; left:890px;
}

#img_4{
  position: absolute; top: 200px; left:990px;
}

#img_5{
  position: absolute; top: 200px; left:1090px;
}

#img_6{
  position: absolute; top: 300px; left:690px;
}

#img_7{
  position: absolute; top: 300px; left:790px;
}

#img_8{
  position: absolute; top: 300px; left:890px;
}

#img_9{
  position: absolute; top: 300px; left:990px;
}

#img_10{
  position: absolute; top: 300px; left:1090px;
}

#blackBoard_under input {
  width: 60px;
  height: 60px;
}

#arrow_lef{
  position: absolute; top: 450px; left:670px;
}

#arrow_up{
  position: absolute; top: 450px; left:730px;
}

#arrow_right{
  position: absolute; top: 450px; left:800px;
}

#arrow_down{
  position: absolute; top: 450px; left:870px;
}

#arrow_reload{
  position: absolute; top: 450px; left:950px;
}

#arrow_uturn{
  position: absolute; top: 450px; left:1020px;
}

#okBtn{
  position: absolute; top: 450px; left:1110px;
}
